.main {
	&__section--boxes {
		padding: var(--padding-small) 0;
		width: 100%;
		display: flex;
		justify-content: space-around;
		gap: 20px;
		flex-wrap: wrap;
		align-items: center;
	}

	&__button {
		margin-top: var(--margin-small);
		margin-bottom: var(--margin-big);
	}
}
