.header {
	margin: 0 auto;
	padding: var(--padding-small);
	max-width: 1200px;
	min-height: 100px;
	max-height: content;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
	align-items: center;
	animation-name: animationHeader;
	animation-duration: 0.5s;
}

.main {
	margin: 0 auto;
	max-width: 1200px;
	animation-name: animationMain;
	animation-duration: 1s;

	&__section--img {
		width: 100%;
		height: 300px;
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		border-radius: 20px;
	}

	&__section--boxes {
		padding: var(--padding-small) 0;
		width: 100%;
		display: flex;
		justify-content: space-around;
		gap: 20px;
		flex-wrap: wrap;
		align-items: center;
	}
}

@keyframes animationHeader {
	from {
		transform: translateY(-150px);
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes animationMain {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
