.layout {
	margin: 0 auto;
	padding: var(--padding-small);
	max-width: 1200px;
	animation-name: animationMain;
	animation-duration: 1s;
}

@keyframes animationMain {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
