.button {
	cursor: pointer;
	padding: var(--padding-small) var(--padding-big);
	width: fit-content;
	text-transform: uppercase;

	&__primary {
		background-color: var(--brand-color);
		border: 1px solid var(--white-color);
		color: var(--white-color);

		&:hover {
			background-color: var(--brand-color-hover);
		}
	}

	&__secondary {
		background-color: var(--white-color);
		border: 1px solid var(--brand-color);
		color: var(--brand-color);

		&:hover {
			background-color: var(--white-color-hover);
		}
	}
}
