.box {
	width: 220px;
	height: 300px;
	background-color: var(--box-color);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	animation-name: animationBox;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	position: relative;

	&__hover {
		padding: var(--padding-small);
		width: 100%;
		height: 100%;
		background-color: var(--box-color);
		border-radius: 20px;
		display: none;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 20px;
		position: absolute;
		opacity: 0.9;
		z-index: 1;
	}

	&:hover {
		.box__hover {
			display: flex;
		}
	}

	& > img {
		height: 120px;
		animation-name: animationContent;
		animation-duration: 0.5s;
		animation-timing-function: ease-in-out;
	}

	&__name {
		margin-top: var(--margin-medium);
		margin-bottom: var(--margin-tiny);
		animation-name: animationContent;
		animation-duration: 0.7s;
		animation-timing-function: ease-in-out;
	}

	&__type {
		animation-name: animationContent;
		animation-duration: 0.9s;
		animation-timing-function: ease-in-out;
	}
}

@keyframes animationBox {
	from {
		transform: scale(0);
	}
	to {
		transform: scale(1);
	}
}

@keyframes animationContent {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(0);
	}
}
