@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
	// Font families
	--font-family-bebas-nue: 'Bebas Neue', cursive;
	--font-family-montserrat: 'Montserrat', sans-serif;

	// Font sizes
	--font-size-default: 16px;
	--font-size-h1: 42px;
	--font-size-h2: 36px;
	--font-size-h3: 24px;

	// Font weight
	--font-size-light: 300;
	--font-size-bold: 600;
}
