:root {
	// Paddings
	--padding-tiny: 10px;
	--padding-small: 20px;
	--padding-medium: 30px;
	--padding-big: 40px;

	// Margins
	--margin-tiny: 10px;
	--margin-small: 20px;
	--margin-medium: 30px;
	--margin-big: 40px;
}
