.header {
	margin: 0 auto;
	padding: var(--padding-small);
	max-width: 1200px;
	min-height: 100px;
	max-height: content;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	flex-wrap: wrap;
	align-items: center;
	animation-name: animationHeader;
	animation-duration: 0.5s;
}
